COMPOSE_PROJECT_NAME=payment-platform
PAYMENT_SANDBOX_PORT=30001
POSTGRES_PORT=30002
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payment_sandbox
DATABASE_URL=postgres://postgres:postgres@postgres:5432/payment_sandbox?sslmode=disable
NEW_RELIC_LICENSE_KEY=
